body{
background-color: black;
}
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
@keyframes logo{
	from{background: none; }
	to{background: url(img/lg.jpg); background-size:cover;}
}
#lg{
	animation-name: logo;
	animation-duration: 1s;
	animation-delay: 1;
	animation-iteration-count: 1;
}
.sp{
	display: flex;
	height: 90vh;
	width: 100%;

}
#img1{
	width: 40%;
	border-style: solid;
	border-color: azure;
	margin-top: 10%;
	margin-left: 30%;
	
}
#img2{
	margin:0 auto;
	display: block;
	width: 2%;
	position: absolute;
	top: 9.4%;
	left: 50%;
}.img3{
	position: absolute;
	bottom: 76%;
	right: 46.1%;
    width: 6%;
	opacity: 0;
	transition: opacity  0.5s;
}
#d2{
	width: 50%;
	height: 80vh; 
	border-radius: 10%;
	border-style: solid;
	border-color: black;
	animation: logo 1s;
}
.d1{
	width: 40%;
	height: 100vh;
	border: solid 4px black ;
	background-image: url(eau2.png);
    opacity: 0.2;
	background-size:cover;
	margin-right:40px;
}
@keyframes e2 {
	0%{background: url(img/logo.jpg);background-size: cover;}
	100%{background-image:url(img/logo.jpg);background-size: cover; ;}
}
#b1{
	position: absolute;
	right: 52%;
	top: 12%;
	height:26px ;
	width:54px ;
	border-radius: 30px;
	border:0 ;
	outline:0 ;
	cursor: pointer;
}
#p1{
	position: relative;
	left: 6.5%;
	height: 10px;
	font-family:monospace;
	font-weight: bolder;
	
}
#b1 #me{
	display: block;
	background: url(img/moon.jpg);
	
	height:26px ;
	width:26px ;
	border-radius: 50%;
	transition: background 0.5s,margin-left 0.5s;
}
.active{
	background-color: green;
}
.active #me{
	margin-left: 31px;
}
.bg{
	background-image: url(img/bg1.jpg);
}
.on{
	opacity: 1;
}
.t1{
	font-family: monospace;
	position: absolute;
	font-size: 40px;
	height: 20px;
	font-style: italic;
	animation-name: exemple6;
	animation-iteration-count: infinite;
	animation-duration: 4s;
	animation-delay: none;
    animation-direction: reverse;
letter-spacing: 3.4px;
color: rgb(72, 81, 57);
text-transform: uppercase;
text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-weight:bolder;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  animation: shadows 2s ease-in infinite, move 2s ease-in infinite,exemple2 2s;
  letter-spacing: 0.4rem;

}
p{
	color: white;
    margin-left: 2%;
}
#door{
	position: relative;
	top: 0%;
	right: -10%;
	width: 64%;
	opacity: 0;
}
@keyframes exemple6{
  0%{color: aqua;}
  25%{color: #2524;}
  50%{color: crimson;}
  75%{color: tomato;}
  100%{color: rgb(87, 179, 140);}
}
.nom {
	position: relative;
	display: inline-block;
	color: #fff;
	font-size: 36px;
	font-family:'Times New Roman', Times, serif;
	text-align: center;
	animation: glow 1s ease-in-out infinite alternate;
	text-decoration: underline overline dotted 4px whitesmoke;
	padding: 1px;
  }
  @keyframes shadows {
	0% {
	  text-shadow: none;
	}
	10% {
	  text-shadow: 3px 3px 0 var(--color-secondary);
	}
	20% {
	  text-shadow: 3px 3px 0 var(--color-secondary),
		6px 6px 0 var(--color-tertiary);
	}
	30% {
	  text-shadow: 3px 3px 0 var(--color-secondary),
		6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
	}
	40% {
	  text-shadow: 3px 3px 0 var(--color-secondary),
		6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
		12px 12px 0 var(--color-quinary);
	}
	50% {
	  text-shadow: 3px 3px 0 var(--color-secondary),
		6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
		12px 12px 0 var(--color-quinary);
	}
	60% {
	  text-shadow: 3px 3px 0 var(--color-secondary),
		6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
		12px 12px 0 var(--color-quinary);
	}
	70% {
	  text-shadow: 3px 3px 0 var(--color-secondary),
		6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
	}
	80% {
	  text-shadow: 3px 3px 0 var(--color-secondary),
		6px 6px 0 var(--color-tertiary);
	}
	90% {
	  text-shadow: 3px 3px 0 var(--color-secondary);
	}
	100% {
	  text-shadow: none;
	}
  }
  
  @keyframes move {
	0% {
	  transform: translate(0px, 0px);
	}
	40% {
	  transform: translate(-12px, -12px);
	}
	50% {
	  transform: translate(-12px, -12px);
	}
	60% {
	  transform: translate(-12px, -12px);
	}
	100% {
	  transform: translate(0px, 0px);
	}
  }
  :root {
	--color-primary: #f6aca2;
	--color-secondary: #f49b90;
	--color-tertiary: #f28b7d;
	--color-quaternary: #f07a6a;
	--color-quinary: #ee6352;}
  @-webkit-keyframes glow {
	from {
	  text-shadow: 0 0 10px rgb(247, 218, 218), 0 0 20px rgb(215, 199, 199), 0 0 30px rgb(238, 221, 221), 0 0 40px rgb(225, 202, 202), 0 0 50px rgb(165, 148, 148), 0 0 60px rgb(189, 178, 178), 0 0 70px rgb(190, 163, 163);
	}
	
	to {
	  text-shadow: 0 0 20px rgb(215, 179, 179), 0 0 30px rgb(158, 145, 145), 0 0 40px rgb(239, 220, 220), 0 0 50px rgb(162, 133, 133), 0 0 60px rgb(174, 137, 137), 0 0 70px rgb(222, 192, 192), 0 0 80px rgb(223, 171, 171);
	}
}
.about-me, .contact,.my-projects,.experience{
	width: 300px;
	margin-top: 20px;
    text-align: center;
	font-family: 'Courier New', Courier, monospace;
	text-decoration: wavy;
	font-weight: 600;
	border-radius: 10%;
	color: #fff;

}	
.about-me:hover, .contact:hover,.my-projects:hover,.experience:hover{
	width: 344px;
    transition: width 1s;
	text-decoration: underline;
	border-radius: 10%;


}

nav{
	
	border-bottom: 2px solid white;
	height: 68px;
}

#s2,.s3{
	display: flex;
	border-radius:60px ;
	padding: 6px;
	position: relative;
	bottom: 20%;}
.choose{
	border-radius: 1px;
    position: relative;
	top: 20%;
}
em{
	color: white;
	font-size: 24px;
	font-family: italic;
}
#m1,#m2,#m3,#m4{
	width: 8%;
	border-radius: 200px;
}
.t1{
	color: aliceblue;
	position:relative;
	bottom: 6%;
}
#pic1{
	margin: 0 auto;
	display: block;
	position: relative;
	margin-top: 8%;
	animation: exemple3 2s;

}

.test{
	background-image: url(img/lg0.png);
	background-size: cover;
	border-radius:100%;
	border-color: rgb(171, 163, 163);
	opacity: 1;
	height: 90vh;
}
.test2,.test6{
	background-color: rgb(171, 163, 163);
}
.test3,.test4,.test5{
	color: black;
}
@keyframes exemple{
	from{opacity: 0;}
	to{opacity: 0.07;}
}
.d1{
	animation: exemple 2s;
}
@keyframes exemple2{
	from {margin-left: 300px;}
	to{position: relative;}
}
@keyframes exemple3{
	from{width: 1px;}
	to{width:620px ;}
}
nav{
	display: flex;
}
#p2{
	font-size: 30px;
	margin-top: 1%;
	margin-left: 2%;
	font-family:fantasy;
}
ul{
	position: relative;
	left: 4%;
}
